
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Including Bootstrap Icons in HTML</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">
    <!-- Bootstrap Font Icon CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
</head>
<body>
   <!-- design -->
<div>
  <div *ngIf="isLoading">
    <app-loader />
  </div>
<div  class="page">
  <div *ngIf="!isLoading && hasPosts" class="design" id="design">
    <div class="container">
      <div *ngIf="!isLoading" class="title">
        <h2>All posts</h2>
      </div>
      <div *ngIf="!isLoading" class="design-content">
        <div *ngFor="let photo of photos" class="design-item">
          <div class="design-img">
            <img src="{{photo.image}}" alt="image" />
            <span *ngIf="isLoggedIn" >
              <ng-container *ngIf="getTotalLikes(photo) !== 0; else noLikes">
                <i class="bi-heart-fill"></i> {{ getTotalLikes(photo) }}
              </ng-container>
              <ng-template #noLikes>
                <i class="bi-heart"></i> {{ getTotalLikes(photo) }}
              </ng-template>
            </span>
            <span>{{photo.title}}</span>
          </div>
          <div id="action-buttons" *ngIf="isLoggedIn"> 
          <button class="button-details" [routerLink]="['/posts', photo._id]">Details</button>
        </div>

        </div>
      </div>
    </div>
  </div>
</div>
<div class="no-posts-container" *ngIf="!hasPosts && !isLoading">
  <div class="home">
    <div class="header">
      <div class="class-title">
        <h2 class="title">No posts yet.</h2>
      </div>
    </div>
  </div>
</div>

  <!-- end of design -->
</div>

</body>
</html>