<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="wrapper">
      <form class="login" #form="ngForm" (ngSubmit)="login(form)">
        <h1>Login</h1>
        <div class="input-box">
          <i class="bx bx-envelope"></i>
          <input
            type="email"
            name="email"
            id="email"
            autocomplete="email"
            placeholder="Email"
            ngModel
            #inputEmail="ngModel"
            required
            [appEmail]="domains"
          />
        </div>

        <ng-container *ngIf="inputEmail.touched">
          <p class="error" *ngIf="inputEmail.errors?.['required']">
            Email is required!
          </p>
          <p class="error" *ngIf="inputEmail.errors?.['emailValidator']">
            Email is not valid!
          </p>
        </ng-container>

        <div class="input-box">
          <i class="bx bxs-lock-alt"></i>
          <input
            type="password"
            name="password"
            id="password"
            placeholder="Password"
            ngModel
            #inputPassword="ngModel"
            required
            minlength="5"
          />
        </div>

        <ng-container *ngIf="inputPassword.touched">
          <p class="error" *ngIf="inputPassword.errors?.['required']">
            Password is required!
          </p>
          <p class="error" *ngIf="inputPassword.errors?.['minlength']">
            'Password should be at least 5 characters!'
          </p>
        </ng-container>

        <div class="remember-forgot">
          <label><input type="checkbox" />Remember Me</label>
        </div>
        <button
          class="btn"
          [disabled]="form.invalid"
          [style]="{ backgroundColor: form.invalid ? 'grey' : '#266d20b2' }"
        >
          Login
        </button>
        <div class="register-link">
          <p>
            Don't have an account? <a routerLink="/users/register">Register</a>
          </p>
        </div>
      </form>
    </div>
  </body>
</html>
