/* Footer styles */
footer {
  text-align: center;
  background-color: #ffffff; /* Background color */
  padding: 10px 0; /* Padding */

}

footer p {
  margin-bottom: 10px; /* Bottom margin */
}


footer span {
  font-weight: bold; /* Make the text bold */
}

logo2 {
  position: relative;
}

.logo2 a {
  font-size: 30px;
  color: #FF5722;
  font-family: 'Niconne', cursive;
  letter-spacing: 1px;
}


