/* Footer styles */
/* Footer styles */
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #ffffff;
  padding: -60px 0; /* Adjust the top and bottom padding */
  text-align: center;
  z-index: 999;
}


footer p {
  margin-top: -10px;
  margin-bottom: 5px;
  font-family: 'Niconne', cursive;
  letter-spacing: 1px;
  font-size: 15px;
}

.logo2 a {
  font-size: 20px;
  color: #FF5722;
  font-family: 'Niconne', cursive;
  letter-spacing: 1px;
}


logo2 {
  position: relative;
}

