
	<!-- footer -->
	<footer class="text-center py-4">
		<div class="container py-xl-5 py-4">
	
			<h2 class="logo2 text-center mt-3">
				<a href="index.html">
					Plant Nook <i class="fa fa-pagelines" aria-hidden="true"></i>
				</a>
			</h2>
			
			
			<div class="contact-left-footer mt-4">
				<h6 class="text-da let mb-3">Contact us</h6>
				<ul>
					<li>
						<p>
							<i class="fa fa-map-marker mr-2"></i>123 Sofia, Bulgaria
						</p>
					</li>
					<li class="mx-4">
						<p>
							<i class="fa fa-phone mr-2"></i>+359 1234 567.
						</p>
					</li>
					<li>
						<p class="text-wh">
							<i class="fa fa-envelope-open mr-2"></i>
							<a href="mailto:info@example.com">example@gmail.com</a>
						</p>
					</li>
				</ul>
			</div>
			
			<!-- social icons -->
			<div class="footercopy-social mt-4">
				<ul>
					<li>
						<a href="#">
							<span class="fa fa-facebook-f"></span>
						</a>
					</li>
					<li class="mx-2">
						<a href="#">
							<span class="fa fa-twitter"></span>
						</a>
					</li>
					
				</ul>
			</div>
			<!-- //social icons -->
			<!-- copyright -->
			<div class="w3l-copy text-center mt-5">
				<p class="text-da">© 2018 Plants. All rights reserved | Design by
					<a href="http://w3layouts.com/">W3layouts</a>
				</p>
			</div>
			<!-- //copyright -->
		</div>
	</footer>
	<!-- //footer -->

