 <!-- banner -->
 <div class="banner_w3lspvt">
    <div class="csslider infinity" id="slider1">
        <input type="radio" name="slides" checked="checked" id="slides_1" />
        <input type="radio" name="slides" id="slides_2" />
       
        <ul>
            <li>
                <div class="banner-top">
                    <div class="container">
                        <div class="w3layouts-banner-info text-center">
                            <h3 class="text-wh">Welcome to Plant Nook!</h3>
                            <p class="text-li mx-auto mt-2">Welcome to Plant Nook, where green dreams come to life! Step into our lush world of foliage and discover the perfect companions for your home or office. Whether you're a seasoned plant parent or just starting your green journey, we're here to nurture your passion for all things botanical. Browse our curated collection, find inspiration in our care guides, and let your love for plants flourish. Get ready to transform your space into a verdant paradise. Welcome to your plant haven!</p>
                            <a href="#about" class="button-style scroll mt-sm-5 mt-4">Read More</a>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="banner-top1">
                    <div class="container">
                        <div class="w3layouts-banner-info text-center">
                            <h3 class="text-wh">Inspiration Corner</h3>
                            <p class="text-li mx-auto mt-2">Step into the cozy embrace of nature with our Inspiration Corner. Here, we invite you to slow down, unwind, and immerse yourself in the soothing world of plants. From tranquil reading nooks adorned with verdant foliage to cozy corners filled with the soft glow of botanical-inspired candles, let us spark your imagination and infuse your space with warmth and comfort. Explore our curated tips, cozy decor ideas, and heartwarming stories that celebrate the beauty of bringing nature indoors. Embrace the cozy charm of plant living and create your own sanctuary amidst the hustle and bustle of everyday life.</p>
                            <a href="#about" class="button-style scroll mt-sm-5 mt-4">Read More</a>
                        </div>
                    </div>
                </div>
            </li>
        
        </ul>
        <div class="arrows">
            <label for="slides_1"></label>
            <label for="slides_2"></label>
          
        </div>
    </div>
   
</div>
<!-- //banner -->

<!-- about -->
<section class="about" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 about-left-w3pvt offset-lg-1">
                <div class="main-img">
                    <img src="assets/images/g6.jpg" alt="" class="img-fluid pos-aboimg">
                    <img src="assets/images/a8.jpg" alt="" class="img-fluid pos-aboimg2">
                </div>
            </div>
            <div class="col-lg-6 about-right offset-lg-1">
                <h4 class="sub-tittle-w3layouts let">About Us</h4>
                <h3 class="tittle-w3layouts text-uppercase pr-lg-5 mt-2">Enveloped by Nature's Love: Our Story at Plant Nook</h3>
                <p class="mt-4 mb-5">Our journey began with a simple yet profound love for nature. We believe that plants have the remarkable ability to transform not only spaces but also lives. Our passion for greenery inspired us to create a haven where plant enthusiasts of all levels could come together to celebrate and cultivate their love for botanical beauty.

                    Driven by the desire to share our knowledge and experiences, we embarked on the mission to curate a platform that would serve as a guiding light for fellow plant lovers. Whether you're seeking advice on plant care, seeking inspiration for creating cozy green sanctuaries, or simply yearning to connect with a community that shares your passion, Plant Nook is here for you.
                    
                    Through our site, we aim to foster a sense of belonging and empowerment, empowering individuals to embrace the joys of plant parenthood and embark on their own green journeys with confidence. Join us as we continue to nurture this growing community and spread the boundless joy that comes from surrounding ourselves with the beauty of nature. Welcome to Plant Nook, where every leaf tells a story and every bloom inspires a dream.</p>
            </div>
        </div>
    </div>
</section>
<!-- //about -->