/* banner style */
.banner_w3lspvt {
    position: relative;
    z-index: 1;
}

.banner-top {
    background: url(/assets/images/ho.jpg) no-repeat bottom;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
}

.banner-top1 {
    background: url(/assets/images/p1.jpg) no-repeat bottom;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
}



.w3layouts-banner-info {
    padding-top: 17em;
}

.w3layouts-banner-info h3 {
    font-size: 4em;
    text-shadow: 3px 4px 6px rgb(19, 18, 18);
    font-weight: 600;
}

.w3layouts-banner-info p {
    font-size: 15px;
    max-width: 650px;
}

.w3layouts-banner-info i {
    vertical-align: middle;
}

.banner-top,
.banner-top1{
    min-height: 800px;
}

.button-style {
    padding: 12px 25px;
    border: none;
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;
    border: 2px solid #FF5722;
    background: #FF5722;
    display: inline-block;
}

a.button-style:hover {
    color: #fff;
    -webkit-transform: translateY(10px);
    -ms-transform: translateY(10px);
    -o-transform: translateY(10px);
    -ms-transform: translateY(10px);
    transform: translateY(10px);
}

/* banner move icon */
.icon-w3 {
    position: absolute;
    z-index: 999;
    bottom: 19%;
    left: 48.5%;
}

.icon-w3 i {
    color: #fff;
    font-size: 30px;
    border: 2px solid #fff;
    padding: 10px 6px;
    border-radius: 20px;
}


.text-li {
    color: #f9fff9;
    text-shadow: 3px 4px 6px rgb(10, 10, 10);
    background-color: #91d8af02;
    font-weight: bold;
    font-style: italic;
}



/* //banner move icon */

/* //banner style */

