<div id="home">
  <header class="header-style fixed-top">
    <div class="container">
      <div class="header d-lg-flex justify-content-between align-items-center">
        <img class="logo" src="/assets/images/aa.jpg" alt="Plant Nook" />

        <div class="nav_w3ls">
          <nav>
            <label for="drop" class="toggle toogle-2">Menu</label>
            <input type="checkbox" id="drop" />
            <ul class="menu">
              <li class="active ml-0"><a routerLink="/home">Home</a></li>
              <li><a routerLink="/about">About</a></li>
              <li><a routerLink="/posts">Posts</a></li>

              <ng-container *ngIf="isLoggedIn">
                <li><a routerLink="/create">Create post</a></li>
                <li><a routerLink="/profile">{{username}}'s Profile</a></li>
                <li (click)="logout()" ><a>Logout</a></li>
              </ng-container>

              <ng-container *ngIf="!isLoggedIn">
                <li><a routerLink="/login">Login</a></li>
                <li><a routerLink="/register">Register</a></li>
              </ng-container>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </header>
</div>
